{% extends "layout.html" %} {% block content %}

<div class="page">
  <h1 class="text-turqoise center">Cart</h1>
  <h2 class="center" style="color: var(--color-turqoise); font-weight: 800">
    Here are the items in your cart. Review your order before checkout.
  </h2>
  {% if cart %}
  <div class="cart-box">
    <div class="cart-header center">
      <h2 class="text-black">{{cart.user.username}}'s order</h2>
    </div>
    <div>
      <div>
        {% for item in items %}
        <div>
          <div class="row">
            {{item.pizza.pizza.icon}} {{item.pizza.pizza.name}}
            {{item.pizza.size.name}} x{{item.quantity}}
            ({{item.pizza.pizza.base_price }},-)

            <form action="/cart/delete-item" method="post">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{ item.id }}" />
              <button type="submit">
                <i
                  class="fa-solid fa-trash"
                  style="color: rgb(225, 65, 65)"
                ></i>
              </button>
            </form>
          </div>
          <div style="margin-left: 2rem">
            {% for topping in item.toppings.all %}
            <div>
              {{topping.icon}} {{topping.name}} ({{ topping.base_price }},-)
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="col" style="margin-top: auto">
      <p>Total price: {{cart.total_price}},-</p>
      <div class="row">
        <a href="{% url 'application:menu' %}" class="cta cta-secondary"
          >Continue shopping</a
        >
        <form
          method="post"
          action="/order"
          style="margin-top: auto; margin-bottom: 1rem"
          class="center col"
        >
          {% csrf_token %}
          <button title="pay now" class="cta cta-primary">Checkout</button>
        </form>
      </div>
    </div>
  </div>
  {% else %}
  <div class="col">
    <p>No items in your cart</p>
    <a href="{% url 'application:menu' %}" class="cta cta-primary"
      >See the menu</a
    >
  </div>
  {% endif %}
</div>

{% endblock %}
