{% extends "layout.html" %} {% block content %}
<div class="hero-wrapper">
  <div class="hero-container center col">
    <h2>PIZZA FOR EVERY MOOD</h2>
    <p>living our best life, one slice at a time</p>
    <div class="row">
      <div class="wiggle emoji">🍕</div>
      <div class="wiggle emoji">✨</div>
      <div class="wiggle emoji">💯</div>
    </div>
  </div>
  <img src="/static/images/main-pizza.png" alt="" />
  <div class="overlay"></div>
</div>

<div class="center" style="margin-top: 1.4rem">
  <a
    href="{% url 'application:menu' %}"
    class="cta cta-primary bg-turqoise"
    style="width: 16rem"
  >
    Explore the whole menu
  </a>
</div>

<div class="product-grid center">
  {% for pizza in pizzas %} {% include "components/pizza-card.html" %}
  {%endfor%}
</div>

{% endblock %}
