{% extends "layout.html" %} {% block content %}
<div class="page">
  <h1 class="text-turqoise center">Menu (header)</h1>

  <h2 class="text-pink center">Pizzas</h2>
  <div class="product-grid center">
    {% for pizza in pizzas %} {% include "components/pizza-card.html" %}
    {%endfor %}
  </div>

  {% comment %}
  <h2 class="text-pink center">Drinks</h2>

  <div class="product-grid center">
    {% for drink in drinks %} {% include "components/drink-card.html" %}
    {%endfor%}
  </div>
  {% endcomment %}
</div>

{% endblock %}
