{% extends "layout.html" %} {% block content %}
<div class="page">
  <h2 class="text-pink text-2xl text-center mb-4">Pizza menu</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for pizza in pizzas %} {% include "components/pizza-card.html" %}
    {%endfor %}
  </div>

  {% comment %}
  <h2 class="text-pink center">Drinks</h2>

  <div class="product-grid center">
    {% for drink in drinks %} {% include "components/drink-card.html" %}
    {%endfor%}
  </div>
  {% endcomment %}
</div>

{% endblock %}
