{% extends "layout.html" %} {% block content %}
<div class="page">
  <h1 class="text-turqoise center">Menu (header)</h1>

  <h2 class="text-pink center">Pizzas</h2>
  <div class="product-grid center">
    {% for pizza in pizzas %}
    <div class="product-card bg-yellow">
      <div class="emoji center">{{ pizza.icon }}</div>
      <div class="description">
        <div>
          <h3>{{ pizza.name }}</h3>
          <p>{{ pizza.description }}</p>
          <p class="price">{{ pizza.base_price }} kr</p>
        </div>
        <button class="cta cta-primary w-fit">add to cart</button>
      </div>
    </div>
    {% endfor %}
  </div>

  <h2 class="text-pink center">Drinks</h2>

  <div class="product-grid center">
    {% for drink in drinks %}
    <div class="product-card bg-turqoise">
      <div class="emoji center">{{ drink.icon }}</div>
      <div class="description">
        <div>
          <h3>{{ drink.name }}</h3>

          <p class="price">{{ drink.price }} kr</p>
        </div>
        <button class="cta cta-primary w-fit">add to cart</button>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
