{% extends "layout.html" %} {% block content %}
<form method="post" action="/cart" class="col center">
  {% csrf_token %}
  <h1 class="text-black bebas-neue">{{pizza.name}}{{pizza.icon}}</h1>
  <div class="row padding-small">
    <button id="sub" type="button">
      {% include "components/minus-icon.html" %}
    </button>
    <p id="quantity" style="cursor: pointer">1</p>
    <input id="custom-quantity" type="text" class="hidden" style="width: 5ch" />

    <input type="hidden" id="final-quantity" name="quantity" value="1" />

    <button id="add" type="button">
      {% include "components/plus-icon.html" %}
    </button>
  </div>
  <div>
    <select name="size" id="select-pizza-size">
      <option value="small">Small</option>
      <option value="medium">Medium</option>
      <option value="large">Large</option>
    </select>
  </div>
  <div>Remove stuff here</div>
  <div>
    <h2 class="text-black">Toppings here</h2>

    <ul id="topping-list">
      {% for topping in toppings %}
      <li
        id="{{ topping.id }}"
        class="topping-option"
        data-id="{{ topping.id }}"
        data-available="{% if topping.id in available_topping_ids %}true{% else %}false{% endif %}"
      >
        {{ topping.name }} {% if topping.id in available_topping_ids %} ✅
        {%else %} ❌ {% endif %}
      </li>
      {% endfor %}
    </ul>

    <input type="hidden" name="extra-toppings" id="extra-toppings" />
    <input type="hidden" name="pizza-id" id="pizza-id" value="{{ pizza.id }}" />
  </div>
  <div>
    <h2 class="text-black">Drinks here</h2>

    <ul>
      {% for drink in drinks %}
      <li>{{drink.name}}</li>
      {%endfor%}
    </ul>
  </div>
  <button type="submit" class="cta cta-primary">add to cart</button>
</form>
<script src="/static/js/add-to-cart.js"></script>
{% endblock %}
