{% extends "layout.html" %} {% block content %}
<div class="page">
  <h1 class="text-turqoise center">Sign Up</h1>

  <form action="/signup" method="POST" class="col center">
    {% csrf_token %}
    <div class="col">
      <label for="firstname">First name</label>
      <input name="firstname" type="text" placeholder="Mamma" required />
    </div>
    <div class="col">
      <label for="lastname">Last name</label>
      <input name="lastname" type="text" placeholder="Mia" required />
    </div>
    <div class="col">
      <label for="username">Username yo</label>
      <input name="username" type="text" placeholder="mammamia" required />
    </div>

    <div class="col">
      <label for="email">Email</label>
      <input
        name="email"
        type="text"
        placeholder="mammamia@pizza.com"
        required
      />
    </div>

    <div class="col">
      <label for="password">Password</label>
      <input
        name="password"
        type="password"
        placeholder="supersecret123"
        required
      />
    </div>

    <div class="col">
      <button type="submit" class="cta cta-primary">Sign up</button>
      <p class="center">
        Don't have an account yet??
        <a
          href="{% url 'application:signup' %}"
          class="text-black"
          style="margin-left: 5px"
          >Sign up</a
        >
      </p>
    </div>
  </form>
</div>

{% endblock %}
