{% extends "layout.html" %} {% block content %}
<div class="page">
  <div class="text-center mb-8">
    <a href="/" class="inline-block">
      <h1 class="text-5xl text-pink">CRUST ISSUES</h1>
    </a>
    <p class="text-gray-600 mt-2">join the pizza partyy</p>
  </div>

  <form
    action="/signup"
    method="POST"
    class="flex flex-col gap-2 rounded-xl border border-gray-300 p-8 w-fit mx-auto shadow-lg"
  >
    {% csrf_token %}
    <div>
      <label class="font-semibold" for="firstname">First name</label>
      <input name="firstname" type="text" placeholder="Mamma" required />
    </div>
    <div>
      <label class="font-semibold" for="lastname">Last name</label>
      <input name="lastname" type="text" placeholder="Mia" required />
    </div>
    <div>
      <label class="font-semibold" for="username">Username yo</label>
      <input name="username" type="text" placeholder="mammamia" required />
    </div>

    <div>
      <label class="font-semibold" for="email">Email</label>
      <input
        name="email"
        type="text"
        placeholder="mammamia@pizza.com"
        required
      />
    </div>

    <div>
      <label class="font-semibold" for="password">Password</label>
      <input
        name="password"
        type="password"
        placeholder="supersecret123"
        required
      />
    </div>

    <div class="mt-6 space-y-2">
      <button type="submit" class="cta cta-primary w-full">Sign up</button>
      <p class="center">
        already one of us?
        <a
          href="{% url 'application:login' %}"
          class="font-semibold text-pink ml-1 hover:underline"
          >log in</a
        >
      </p>
    </div>
  </form>
</div>

{% endblock %}
