* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
:root {
  --color-purple: rgb(254, 250, 254);
  --color-pink: rgb(255, 150, 213);
  --color-white: white;
  --color-turqoise: rgb(112, 252, 243);
  --color-light-turqoise: rgb(197, 248, 244);
  --color-yellow: rgb(255, 253, 195);
  --spacing-small: 0.5rem;
  --spacing-medium: 0.75rem;
  --spacing-large: 1.5rem;
  --rounded: 35px;
  --rounded-full: 50%;
}
main {
  background-color: var(--color-purple);
}
h1,
h2 {
  color: var(--color-white);
  font-family: "Bebas Neue", sans-serif;
}
.bebas-neue {
  font-family: "Bebas Neue", sans-serif;
}
.header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--color-pink);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-small);
}
.page {
  padding: var(--spacing-medium);
}
a {
  text-decoration: none;
  color: var(--color-white);
}
button {
  all: unset;
}
.cta {
  padding: var(--spacing-medium) var(--spacing-large);
  font-weight: 900;
  text-align: center;
}
button {
  cursor: pointer;
}
.cta-primary {
  background-color: var(--color-pink);
  border-radius: var(--rounded);
  color: var(--color-white);
}
.cta-secondary {
  background-color: var(--color-white);
  color: var(--color-pink);
  border-radius: var(--rounded);
}
.row {
  display: flex;
  gap: var(--spacing-medium);
  align-items: center;
}
.col {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  align-items: center;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-container {
  position: absolute;
  inset: 0;
  z-index: 1;
  color: var(--color-white);
}
.hero-container > h2 {
  font-size: 40px;
}
.hero-wrapper {
  position: relative;
  height: 400px;
  width: 100vw;
}
.hero-wrapper > img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.cart-counter {
  border-radius: var(--rounded);
  padding: var(--spacing-small) var(--spacing-medium);
  scale: 0.95;
  background-color: var(--color-turqoise);
  color: var(--color-white);
  font-weight: 900;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: var(--spacing-large);
  padding: var(--spacing-large);
  height: 100%;
}
.product-card {
  display: flex;
  flex-direction: column;
  border-radius: var(--rounded);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.product-card > .emoji {
  width: 100%;
  height: 100px;
}
.product-card > .description {
  background-color: var(--color-white);
  border-bottom-right-radius: var(--rounded);
  border-bottom-left-radius: var(--rounded);
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  /* fix this */
  height: 184px;
  padding: var(--spacing-large);
}
.product-card > .description > div > h3 {
  color: var(--color-pink);
  font-family: "Bebas Neue" sans-serif;
  margin-bottom: var(--spacing-small);
}
.product-card > .description > div > .price {
  color: var(--color-turqoise);
  font-weight: 900;
  margin-top: var(--spacing-small);
}
.emoji {
  font-size: 36px;
}
.w-full {
  width: 100%;
}
.w-fit {
  width: fit-content;
}
.hamburger-menu {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 8px;
}
.dropdown-container {
  position: relative;
  display: inline-block;
}
.dropdown-menu {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  min-width: 150px;
  z-index: 100;
}
.hamburger-menu {
  color: var(--color-white);
}
.dropdown-menu a,
form {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: black;
}
.dropdown-menu a:hover {
  background-color: #f2f2f2;
}
.hidden {
  display: none;
}
.bg-yellow {
  background-color: var(--color-yellow);
}
.bg-light-turqoise {
  background-color: var(--color-light-turqoise);
}
.bg-pink {
  background-color: var(--color-pink);
}
.bg-turqoise {
  background-color: var(--color-turqoise);
}
.text-yellow {
  color: var(--color-yellow);
}
.text-turqoise {
  color: var(--color-turqoise);
}
.text-pink {
  color: var(--color-pink);
}
.text-black {
  color: var(--color-black);
}
.text-white {
  color: var(--color-white);
}

.padding-small {
  padding: var(--spacing-small);
}
.padding-medium {
  padding: var(--spacing-medium);
}
.padding-large {
  padding: var(--spacing-large);
}
.rounded-icon {
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--color-pink);
}
.rounded-icon > i {
  scale: 0.65;
  color: var(--color-white);
}
.cart-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--color-yellow);
  border-radius: 20px;
  background-color: #fdfdfd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem auto 1rem auto;
  height: 30rem;
  width: 30rem;
  overflow: hidden;
}
.cart-header {
  background-color: var(--color-yellow);
  padding: 2rem 2rem;
  width: 100%;
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-5deg);
  }
  30% {
    transform: rotate(5deg);
  }
  45% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wiggle {
  display: inline-block;
  animation: wiggle 0.6s ease-in-out infinite;
}
