<a
  id="add-pizza-{{pizza.id}}"
  href="{% url 'application:select-pizza' pizza_id=pizza.id %}"
>
  <div class="product-card bg-yellow">
    <div class="emoji center">{{ pizza.icon }}</div>
    <div class="description">
      <h3 class="text-pink">{{ pizza.name }}</h3>
      <div>
        <p class="text-black">{{ pizza.description }}</p>
        <p class="price">from {{ pizza.base_price }} kr</p>
      </div>
      <button class="cta cta-primary w-fit">add to cart</button>
    </div>
  </div>
</a>
